#main {
  margin-top: 50px;
}

#guess {

}

#image {
  margin-top: 10px;
  box-sizing: border-box;
  border: 20px solid #f3f3f3;
  width: 500px;
}

#image img {
  width: 500px;
  height: auto;
  background: #;
}

#image.correct {
  border: 20px solid #5BB75B;
}

#image.wrong {
  border: 20px solid #BD362F;
}

#points {
  padding: 10px;
  font-size: 100px;
  line-height: 200px;
}